using System;
using System.CodeDom.Compiler;
using System.Collections.Generic;

namespace {settingsNamespace}
{
    [GeneratedCode("Dojo.SourceGenerator", "{assemblyVersion}")]
    public partial class {className}
    {
        {properties}
    }
}