using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;
using Microsoft.AspNetCore.Mvc.ModelBinding;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Http;
using {{ProjectNamespace}}.Services;
using Dojo.OpenApiGenerator.Exceptions;

namespace {{ProjectNamespace}}.Generated.Controllers
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{Assembly.GetExecutingAssembly().GetName().Version}")]
    public abstract class {{Title}}ControllerBase : ControllerBase
    {
        {{#Routes}}
        {{#Actions}}
        [{{HttpMethod}}]
        {{#ResponseTypes}}
        {{#ApiModel}}
        [ProducesResponseType(typeof({{TypeFullName}}), {{HttpStatusCode}})]
        {{/ApiModel}}
        {{^ApiModel}}
        [ProducesResponseType({{HttpStatusCode}})]
        {{/ApiModel}}
        {{/ResponseTypes}}
        {{#ContentTypesStringList}}
        [Produces({{&ContentTypesStringList}})]
        {{/ContentTypesStringList}}
        [Route("{{Route}}")]
        public async virtual Task<IActionResult> {{ActionName}}ActionAsync({{&InputActionParametersString}})
        {    
            {{#HasUnsuccessfulResponses}}
            try
            {
            {{/HasUnsuccessfulResponses}}
                {{#SuccessResponse}}
                {{#ApiModel}}
                return Ok(await this.{{ActionName}}Async({{&InputServiceCallParametersString}}));
                {{/ApiModel}}
                {{^ApiModel}}
                await this.{{ActionName}}Async({{&InputServiceCallParametersString}});
                return Ok();
                {{/ApiModel}}
                {{/SuccessResponse}}
            {{#HasUnsuccessfulResponses}}
            }
            {{/HasUnsuccessfulResponses}}
            {{#UnsuccessfulResponses}}
            {{#IsBadRequestResponse}}
            catch (BadRequestApiException e)
            {
                return BadRequest(e.Message);
            }
            {{/IsBadRequestResponse}}
            {{#IsNotFoundResponse}}
            catch (NotFoundApiException e)
            {
                return NotFound(e.Message);
            }
            {{/IsNotFoundResponse}}
            {{/UnsuccessfulResponses}}
        }

        {{#SuccessResponse}} 
        {{#ApiModel}}protected abstract Task<{{&TypeFullName}}>{{/ApiModel}}{{^ApiModel}}Task{{/ApiModel}} {{ActionName}}Async({{&InputServiceParametersString}});
        {{/SuccessResponse}} 
        {{/Actions}}     
        {{/Routes}}
    }
}