using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Threading.Tasks;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;
using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Mvc.ModelBinding;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Http;
using {{ProjectNamespace}}.Generated.Http;

namespace {{ProjectNamespace}}.Generated.Controllers{{#SourceCodeVersion}}.V{{SourceCodeVersion}}{{/SourceCodeVersion}}
{
    [ApiController]
    {{#SupportedVersions}}
    [InheritedApiVersionAttribute("{{.}}")]
    {{/SupportedVersions}}
    {{#AuthorizationPolicies}}
    [Authorize(Policy = "{{.}}")]
    {{/AuthorizationPolicies}}
    [GeneratedCode("Dojo.OpenApiGenerator", "{{AssemblyVersion}}")]
    public abstract class {{Title}}ControllerBase : ControllerBase
    {
        private static readonly IList<string> _supportedApiVersions = new List<string>
        {
            {{#SupportedVersions}}
            "{{.}}",
            {{/SupportedVersions}}
        };

        public static readonly IReadOnlyCollection<string> SupportedApiVersions = new ReadOnlyCollection<string>(_supportedApiVersions);

        {{#Routes}}
        {{#Actions}}
        [{{HttpMethod}}{{#IsDeprecated}}("{{Route}}"){{/IsDeprecated}}]
        {{#AuthorizationPolicies}}
        [Authorize(Policy = "{{.}}")]
        {{/AuthorizationPolicies}}
        {{#IsDeprecated}}
        [Obsolete]
        {{/IsDeprecated}}
        {{#ResponseTypes}}
        {{#ApiModel}}
        [ProducesResponseType(typeof({{&TypeFullName}}), {{HttpStatusCode}})]
        {{/ApiModel}}
        {{^ApiModel}}
        [ProducesResponseType({{HttpStatusCode}})]
        {{/ApiModel}}
        {{/ResponseTypes}}
        {{#ContentTypesStringList}}
        [Produces({{&ContentTypesStringList}})]
        {{/ContentTypesStringList}}
        {{^IsDeprecated}}[Route("{{Route}}")]{{/IsDeprecated}}
        public virtual {{#SuccessResponse}}{{#ApiModel}}Task<ActionResult<{{&TypeFullName}}>>{{/ApiModel}}{{^ApiModel}}Task<IActionResult>{{/ApiModel}}{{/SuccessResponse}}  {{ActionName}}ActionAsync({{&InputActionParametersString}})
        {    
            return this.{{ActionName}}Async({{&InputServiceCallParametersString}});
        }

        {{#SuccessResponse}} 
        protected abstract {{#ApiModel}}Task<ActionResult<{{&TypeFullName}}>>{{/ApiModel}}{{^ApiModel}}Task<IActionResult>{{/ApiModel}} {{ActionName}}Async({{&InputServiceParametersString}});
        {{/SuccessResponse}} 
        {{/Actions}}     
        {{/Routes}}
    }
}