using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;
using Microsoft.AspNetCore.Mvc.ModelBinding;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Http;
using {{ProjectNamespace}}.Services;
using Dojo.OpenApiGenerator.Exceptions;

namespace {{ProjectNamespace}}.Generated.Controllers
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{Assembly.GetExecutingAssembly().GetName().Version}")]
    public {{#CanOverride}}abstract{{/CanOverride}} class {{Title}}Controller : ControllerBase
    {
        private readonly I{{Title}}Service  _{{Title}}Service;

        public {{Title}}Controller(I{{Title}}Service {{Title}}Service){
            _{{Title}}Service = {{Title}}Service ?? throw new ArgumentNullException(nameof({{Title}}Service));
        }

        {{#Routes}}
        {{#Operations}}
        [{{HttpMethod}}]
        {{#ResponseTypes}}
        {{#ApiModel}}
        [ProducesResponseType(typeof({{TypeFullName}}), {{HttpStatusCode}})]
        {{/ApiModel}}
        {{^ApiModel}}
        [ProducesResponseType({{HttpStatusCode}})]
        {{/ApiModel}}
        {{#ContentTypesStringList}}
        [Produces({{&ContentTypesStringList}})]
        {{/ContentTypesStringList}}
        {{/ResponseTypes}}
        [Route("{{Route}}")]
        public async {{#CanOverride}}virtual{{/CanOverride}} Task<IActionResult> {{ActionName}}Async({{InputActionParametersString}})
        {    
            {{#HasUnsuccessfulResponses}}
            try
            {
            {{/HasUnsuccessfulResponses}}
                {{#SuccessResponse}}
                {{#ApiModel}}
                return Ok(await _{{Title}}Service.{{ActionName}}Async({{InputServiceCallParametersString}}));
                {{/ApiModel}}
                {{^ApiModel}}
                await _{{Title}}Service.{{ActionName}}Async({{InputServiceCallParametersString}});
                return Ok();
                {{/ApiModel}}
                {{/SuccessResponse}}
            {{#HasUnsuccessfulResponses}}
            }
            {{/HasUnsuccessfulResponses}}
            {{#UnsuccessfulResponses}}
            {{#IsBadRequestResponse}}
            catch (BadRequestApiException e)
            {
                return BadRequest(e.Message);
            }
            {{/IsBadRequestResponse}}
            {{#IsNotFoundResponse}}
            catch (NotFoundApiException e)
            {
                return NotFound(e.Message);
            }
            {{/IsNotFoundResponse}}
            {{/UnsuccessfulResponses}}
        }
        {{/Operations}}     
        {{/Routes}}
    }
}