using System;
using System.CodeDom.Compiler;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;

namespace {{Namespace}}
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{{AssemblyVersion}}")]
    public class {{TypeName}} : Dictionary<string, {{#DictionaryValueType}}{{&TypeFullName}}{{/DictionaryValueType}}>
    {        
    }
}