using System;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;

namespace {{Namespace}}
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{{AssemblyVersion}}")]
    public enum {{TypeName}}
    {
        {{#EnumValues}}
        {{.}},
        {{/EnumValues}}
    }
}