using System;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;

namespace {{Namespace}}
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{Assembly.GetExecutingAssembly().GetName().Version}")]
    public enum {{TypeName}}
    {
        {{#EnumValues}}
        {{.}},
        {{/EnumValues}}
    }
}