using System;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;

namespace {{Namespace}}
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{{AssemblyVersion}}")]
    public{{#IsAbstract}} abstract{{/IsAbstract}} class {{TypeName}}{{#IsDerivedModel}} : {{#BaseModel}}{{&TypeFullName}}{{/BaseModel}}{{/IsDerivedModel}}
    {
        {{#Properties}}
        {{#IsRequired}}
        [Required]{{/IsRequired}}{{#IsEmail}}
        [EmailAddress]{{/IsEmail}}{{#MinLength}}
        [MinLength({{.}})]{{/MinLength}}{{#MaxLength}}
        [MaxLength({{.}})]{{/MaxLength}}
        public virtual {{&TypeFullName}} {{SourceName}} { get; set;}

        {{/Properties}}
    }
}