using System;
using System.CodeDom.Compiler;
using System.ComponentModel.DataAnnotations;

namespace {{Namespace}}
{
    [GeneratedCode("Dojo.OpenApiGenerator", "{Assembly.GetExecutingAssembly().GetName().Version}")]
    public class {{TypeName}}
    {
        {{#Properties}}
        {{#IsRequired}}
        [Required]{{/IsRequired}}{{#IsEmail}}
        [EmailAddress]{{/IsEmail}}
        public virtual {{&TypeFullName}} {{SourceName}} { get; set;}

        {{/Properties}}
    }
}